<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<div style="height: 4rem;"></div>
<hr />
<div class="detail">
  <div class="ip">IP</div>
  <div class="visit">Visit</div>
  <div class="referer">Referer</div>
  <div class="date">Date</div>
  <div class="first_visit">First Visit</div>
  <div class="last_visit">Last Visit</div>
  <div class="org">Org</div>
  <div class="country">Country</div>
  <div class="region">Region</div>
  <div class="city">City</div>
  <div class="hostname">Hostname</div>
  <div class="postal">Postal</div>
  <div>&nbsp;</div>
</div>
<hr />
<div class="detail item"></div>
<hr class="detail-bottom" />


<script type="text/javascript">
  $(function () {
    $('#container').highcharts({
      credits: {
        enabled: true,
        href: "https://traffic-wudixiaotie.herokuapp.com/",
        text: "traffic-wudixiaotie"
      },

      title: {
        text: 'Daily visits at wudixiaotie.github.io'
      },

      subtitle: {
        text: 'Source: Wudixiaotie Traffic Heroku App'
      },

      xAxis: {
        type: 'datetime',
        tickInterval: 7 * 24 * 3600 * 1000, // one week
        tickWidth: 0,
        gridLineWidth: 1,
        labels: {
          align: 'left',
          x: 3,
          y: -3
        }
      },

      yAxis: [
        { // left y axis
          title: {
            text: null
          },
          labels: {
            align: 'left',
            x: 3,
            y: 16,
            format: '{value:.,0f}'
          },
          showFirstLabel: false
        },
        { // right y axis
          linkedTo: 0,
          gridLineWidth: 0,
          opposite: true,
          title: {
            text: null
          },
          labels: {
            align: 'right',
            x: -3,
            y: 16,
            format: '{value:.,0f}'
          },
          showFirstLabel: false
        }
      ],

      legend: {
        align: 'left',
        verticalAlign: 'top',
        y: 20,
        floating: true,
        borderWidth: 0
      },

      tooltip: {
        shared: true,
        crosshairs: true
      },

      plotOptions: {
        series: {
          cursor: 'pointer',
          point: {
            events: {
              click: function (e) {
                var date = new Date(parseInt(e.point.x));
                var date_string = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
                $.getJSON("/visitors/" + date_string, function (result) {
                    $(".item").children().remove();
                    var bottom = $(".detail-bottom");
                    if(result == []) {
                      alert("fuck");
                    } else {
                      for (var i = 0; i < result.length; i++) {
                        var item = $("<div class=\"detail item\"></div>");
                        item.append("<div class=\"ip\">" + result[i].ip + "</div>");
                        item.append("<div class=\"visit\">" + result[i].times + "</div>");
                        item.append("<div class=\"referer\">" + result[i].referer + "</div>");
                        item.append("<div class=\"date\">" + result[i].date + "</div>");
                        item.append("<div class=\"first_visit\">" + result[i].created_at + "</div>");
                        item.append("<div class=\"last_visit\">" + result[i].updated_at + "</div>");

                        $.getJSON("http://ipinfo.io/" + result[i].ip, function (result) {
                          item.append("<div class=\"org\">" + result.org + "</div>");
                          item.append("<div class=\"country\">" + result.country + "</div>");
                          item.append("<div class=\"region\">" + result.region + "</div>");
                          item.append("<div class=\"city\">" + result.city + "</div>");
                          item.append("<div class=\"hostname\">" + result.hostname + "</div>");
                          item.append("<div class=\"postal\">" + result.postal + "</div>");
                        });

                        bottom.before(item);
                      };
                    }
                });
              }
            }
          },
          marker: {
            lineWidth: 1
          }
        }
      },

      series: [
        {
          name: 'Unique Visitors',
          lineWidth: 4,
          marker: {
            radius: 4
          },
          data: <%= @data.map { |visitor| [visitor.date.to_datetime.to_i * 1000, visitor.id] }.inspect %>
        },
        {
          name: 'All visits',
          data: <%= @data.map { |visitor| [visitor.date.to_datetime.to_i * 1000, visitor.times] }.inspect %>
        }
      ]
    });
  });
</script>