<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<div style="height: 4rem;"></div>
<hr />
<table class="detail">
  <tr>
    <td>IP</td>
    <td>Visit</td>
    <td>Referer</td>
    <td>Date</td>
    <td>First Visit</td>
    <td>Last Visit</td>
    <td>Org</td>
    <td>Country</td>
    <td>Region</td>
    <td>City</td>
    <td>Hostname</td>
    <td>Postal</td>
  </tr>
</table>

<script type="text/javascript">
  $(function () {
    $('#container').highcharts({
      credits: {
        enabled: true,
        href: "https://traffic-wudixiaotie.herokuapp.com/",
        text: "traffic-wudixiaotie"
      },

      title: {
        text: 'Daily visits at wudixiaotie.github.io'
      },

      subtitle: {
        text: 'Source: Wudixiaotie Traffic Heroku App'
      },

      xAxis: {
        type: 'datetime',
        tickInterval: 7 * 24 * 3600 * 1000, // one week
        tickWidth: 0,
        gridLineWidth: 1,
        labels: {
          align: 'left',
          x: 3,
          y: -3
        }
      },

      yAxis: [
        { // left y axis
          title: {
            text: null
          },
          labels: {
            align: 'left',
            x: 3,
            y: 16,
            format: '{value:.,0f}'
          },
          showFirstLabel: false
        },
        { // right y axis
          linkedTo: 0,
          gridLineWidth: 0,
          opposite: true,
          title: {
            text: null
          },
          labels: {
            align: 'right',
            x: -3,
            y: 16,
            format: '{value:.,0f}'
          },
          showFirstLabel: false
        }
      ],

      legend: {
        align: 'left',
        verticalAlign: 'top',
        y: 20,
        floating: true,
        borderWidth: 0
      },

      tooltip: {
        shared: true,
        crosshairs: true
      },

      plotOptions: {
        series: {
          cursor: 'pointer',
          point: {
            events: {
              click: function (e) {
                var date = new Date(parseInt(e.point.x));
                var date_string = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
                var table_detail = $("table.detail");
                $.getJSON("/visitors/" + date_string, function (result) {
                    $(".item").children().remove();
                    if(result == []) {
                      alert("fuck");
                    } else {
                      for (var i = 0; i < result.length; i++) {
                        var item = $("<tr class=\"item\" id=\"" + result[i].ip + "\"></tr>");
                        item.append("<td>" + result[i].ip + "</td>");
                        item.append("<td>" + result[i].times + "</td>");
                        item.append("<td>" + result[i].referer + "</td>");
                        item.append("<td>" + result[i].date + "</td>");
                        item.append("<td>" + result[i].created_at + "</td>");
                        item.append("<td>" + result[i].updated_at + "</td>");

                        $.getJSON("https://geoip.nekudo.com/api/" + result[i].ip, function (ip_result) {
                          var tr = $("tr#" + ip_result.ip.replace(/\./gm, '\\.'));
                          tr.append("<td>" + ip_result.org + "</td>");
                          tr.append("<td>" + ip_result.country.name + "</td>");
                          tr.append("<td>" + ip_result.region + "</td>");
                          tr.append("<td>" + ip_result.city + "</td>");
                          tr.append("<td>" + ip_result.hostname + "</td>");
                          tr.append("<td>" + ip_result.postal + "</td>");
                        });

                        table_detail.append(item);
                      };
                    }
                });
              }
            }
          },
          marker: {
            lineWidth: 1
          }
        }
      },

      series: [
        {
          name: 'Unique Visitors',
          lineWidth: 4,
          marker: {
            radius: 4
          },
          data: <%= @data.map { |visitor| [visitor.date.to_datetime.to_i * 1000, visitor.id] }.inspect %>
        },
        {
          name: 'All visits',
          data: <%= @data.map { |visitor| [visitor.date.to_datetime.to_i * 1000, visitor.times] }.inspect %>
        }
      ]
    });
  });
</script>