.detail {
    text-align: center;
    width: 100%;
    border-collapse:collapse;
    border:solid #999;
    border-width:1px 0 0 1px; 
}

.detail td {
    border:solid #999;
    border-width:0 1px 1px 0;
    padding:2px;
}

.item {
    line-height: 3rem;
}